MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=trustops
MYSQL_USER=trustops
MYSQL_PASSWORD=trustops

GATEWAY_HTTP_HOST=0.0.0.0
GATEWAY_HTTP_PORT=8080
GATEWAY_STORAGE_BACKEND=mysql
GATEWAY_MYSQL_DSN=
GATEWAY_REDIS_ADDR=redis:6379
GATEWAY_REDIS_PASSWORD=
GATEWAY_REDIS_DB=0
GATEWAY_CASE_CACHE_TTL_SECONDS=300
GATEWAY_MQ_BACKEND=rabbitmq
GATEWAY_RABBITMQ_URL=
GATEWAY_RABBITMQ_QUEUE=risk.case.ingested
GATEWAY_API_KEYS=riskops-dev-key
GATEWAY_RATE_LIMIT_RPM=60
GATEWAY_RATE_LIMIT_PREFIX=riskops

WORKER_NAME=riskops-worker
WORKER_RABBITMQ_URL=
WORKER_RABBITMQ_QUEUE=risk.case.ingested
WORKER_PREFETCH=10
WORKER_STORAGE_BACKEND=mysql
WORKER_MYSQL_DSN=
