MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=trustops
MYSQL_USER=trustops
MYSQL_PASSWORD=trustops

GATEWAY_HTTP_HOST=0.0.0.0
GATEWAY_HTTP_PORT=8080
GATEWAY_STORAGE_BACKEND=mysql
GATEWAY_MYSQL_DSN=trustops:trustops@tcp(mysql:3306)/trustops?parseTime=true
GATEWAY_REDIS_ADDR=redis:6379
GATEWAY_REDIS_PASSWORD=
GATEWAY_REDIS_DB=0
GATEWAY_CASE_CACHE_TTL_SECONDS=300
GATEWAY_MQ_BACKEND=rabbitmq
GATEWAY_RABBITMQ_URL=amqp://trustops:trustops@rabbitmq:5672/
GATEWAY_RABBITMQ_QUEUE=risk.case.ingested

WORKER_NAME=riskops-worker
WORKER_RABBITMQ_URL=amqp://trustops:trustops@rabbitmq:5672/
WORKER_RABBITMQ_QUEUE=risk.case.ingested
WORKER_PREFETCH=10
